.App {
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.friends-list {
  position: relative;
  height: 100%;  
}

.modal.add-friend {
  display: none;
  position: absolute;
  top: 0;
  background: #282c34e3;
  width: 100%;
  height: 100vh;
}

.modal.active {
  display: block;
}

.form.add-friend {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: absolute;
  left: 36%;
  top: 20%;
}

.friend-container {
  border: 1px solid black;
  width: 40%;
  margin: 20px auto;
}
